<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta author="Kanhalelo Robson" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROJECTS</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://rawcdn.githack.com/Kanhalelor/kanhalelor.github.io/506cd3da9a16ebc89cb927b9461d19bf13ac4faf/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://rawcdn.githack.com/Kanhalelor/kanhalelor.github.io/506cd3da9a16ebc89cb927b9461d19bf13ac4faf/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://rawcdn.githack.com/Kanhalelor/kanhalelor.github.io/506cd3da9a16ebc89cb927b9461d19bf13ac4faf/images/favicon-16x16.png"
    />
    <link rel="manifest" href="../images/site.webmanifest" />
    <link
      href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        height: 100vh;
        background: #121212;
        color: #ffffff;
        display: grid;
        place-items: center;
      }
      .error-msg {
        margin: auto;
        transition: 0.35s;
        padding: 1em;
      }
      .error-msg > p {
        text-align: center;
        color: #ffffff;
        margin-top: 10px;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div class="error-msg">
      <p>Sorry! Page Not Found</p>
      <p>
        Go back to
        <a href="../index.html" style="color: tomato;"> Home Page</a>
      </p>
    </div>
  </body>
</html>
